/* CSS HEX */
--cobalt-blue: #1446a0ff;
--razzmatazz: #db3069ff;
--naples-yellow: #f5d547ff;
--beige: #ebebd3ff;
--onyx: #3c3c3bff;

/* CSS HSL */
--cobalt-blue: hsla(219, 78%, 35%, 1);
--razzmatazz: hsla(340, 70%, 52%, 1);
--naples-yellow: hsla(49, 90%, 62%, 1);
--beige: hsla(60, 37%, 87%, 1);
--onyx: hsla(60, 1%, 23%, 1);

/* SCSS HEX */
$cobalt-blue: #1446a0ff;
$razzmatazz: #db3069ff;
$naples-yellow: #f5d547ff;
$beige: #ebebd3ff;
$onyx: #3c3c3bff;

/* SCSS HSL */
$cobalt-blue: hsla(219, 78%, 35%, 1);
$razzmatazz: hsla(340, 70%, 52%, 1);
$naples-yellow: hsla(49, 90%, 62%, 1);
$beige: hsla(60, 37%, 87%, 1);
$onyx: hsla(60, 1%, 23%, 1);

/* SCSS RGB */
$cobalt-blue: rgba(20, 70, 160, 1);
$razzmatazz: rgba(219, 48, 105, 1);
$naples-yellow: rgba(245, 213, 71, 1);
$beige: rgba(235, 235, 211, 1);
$onyx: rgba(60, 60, 59, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #1446a0ff, #db3069ff, #f5d547ff, #ebebd3ff, #3c3c3bff);
$gradient-right: linear-gradient(90deg, #1446a0ff, #db3069ff, #f5d547ff, #ebebd3ff, #3c3c3bff);
$gradient-bottom: linear-gradient(180deg, #1446a0ff, #db3069ff, #f5d547ff, #ebebd3ff, #3c3c3bff);
$gradient-left: linear-gradient(270deg, #1446a0ff, #db3069ff, #f5d547ff, #ebebd3ff, #3c3c3bff);
$gradient-top-right: linear-gradient(45deg, #1446a0ff, #db3069ff, #f5d547ff, #ebebd3ff, #3c3c3bff);
$gradient-bottom-right: linear-gradient(135deg, #1446a0ff, #db3069ff, #f5d547ff, #ebebd3ff, #3c3c3bff);
$gradient-top-left: linear-gradient(225deg, #1446a0ff, #db3069ff, #f5d547ff, #ebebd3ff, #3c3c3bff);
$gradient-bottom-left: linear-gradient(315deg, #1446a0ff, #db3069ff, #f5d547ff, #ebebd3ff, #3c3c3bff);
$gradient-radial: radial-gradient(#1446a0ff, #db3069ff, #f5d547ff, #ebebd3ff, #3c3c3bff);