:root {
    --cobalt-blue: #1446a0ff;
    --razzmatazz: #db3069ff;
    --naples-yellow: #f5d547ff;
    --beige: #ebebd3ff;
    --onyx: #3c3c3bff;
}

html {
    font-size: 16pt;
    box-sizing: border-box;
    
}

body {
    width: 100%;
    background-color: var(--beige);
    color: var(--onyx)
}

header {
    width: auto;
}

h1 {
    margin: auto;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    margin: 1rem;
}

a:hover {
    color: var(--cobalt-blue)
}

a:visited {
    color: var(--razzmatazz)
}

main {
    max-width: 100%;
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.area {
    min-width: 20rem;
    max-width: 25rem;
    margin: 1rem;
    border-radius: 2rem;
    padding: 1rem;
    background-color: var(--razzmatazz);
    color: var(--beige)
}

h2 {
    text-align: center;
}

.temperature {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temperature-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

.setpoint {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 2rem;
    height: 2rem;
}
