html {
    font-size: 16pt;
    box-sizing: border-box;
    
}

body {
    width: 100%;
}

header {
    width: auto;
}

h1 {
    margin: auto;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    display: inline;
    margin: 1rem;
}

main {
    max-width: 100%;
    display: flex;
    padding: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.area {
    min-width: 20rem;
    max-width: 25rem;
    border: .5rem solid red;
    margin: 1rem;
    border-radius: 2rem;
    padding: 1rem;

}

h2 {
    text-align: center;
}

.temperature {
    display: flex;
    justify-content: space-between;
}

.setpoint {
    display: flex;
    justify-content: space-between;
}

.icon {
    width: 2rem;
    height: 2rem;
}